<%= form_tag charges_path, id: 'stripeForm' do -%>
<script src="https://checkout.stripe.com/checkout.js"></script>
<article>
    <%= label_tag 'amount', 'To Pay', class: 'amount' %>
    <%= label_tag 'amount', "$#{@amount}.00", class: "amount-figure" %>
</article>
<br>
<button id="stripe-button">&nbsp;</button>
<%= hidden_field_tag 'stripeToken' %>
<%= hidden_field_tag 'stripeEmail' %>
<%= hidden_field_tag 'stripeAmount' %>

<script>
    let handler = StripeCheckout.configure({
        key: "<%= Settings[Rails.env]['stripe']['publishable_key'] %>",
        token: function (token, args) {
            $("#stripeToken").value = token.id;
            $("#stripeEmail").value = token.email;
            $("#stripeAmount").value = <%= @amount %>;
            $("#stripeForm").submit();
        }
    });

    $('#stripe-button').on('click', function (e) {
        // Open Checkout with further options
        handler.open({name: 'Your customer name', description: 'Your description goes here', amount: <%= @amount * 100 %>});
        e.preventDefault();
    });

    $(window).on('popstate', function () {
        handler.close();
    });
</script>
<% end %>

<main id="root"></main>
